@use "sass:color";

//varibel för lagring av färg .. ljusa läget o mörka läget
$primary-color: #edb8946a;
$color1: #c7833a;
$color: #feb581;
$color3: #939fe6;

$secondary-color: #120b62;
$color2: #f9f9f9;

// mörka läget .. ändrar sig efter det operativa systemets tema
@media (prefers-color-scheme: dark) {
    body {
        background-color: $secondary-color;
        color: #ffffff;
    }

    img {
        opacity: 78%;
    }

    h1 {
        color: $color2;
        text-align: center;
    }


    button {
        // @include form (100px, $radius: 5px);
        // background-color: #939fe6;

        border: 2px solid #000; //ram
        padding: 10%;
        margin-bottom: 6%;
    }

    // color function
    button:hover {
        background-color: color.adjust($color3, $lightness: -15%);
        color: $color2;
    }

    nav li a {
        background-color: #8896e7;
        color: $color2;
        padding: 5%;
        width: 85px;
    }

    .sass-text {
        margin-bottom: 6%;
        ;
    }


    //inheritance från .sass-text
    form {
        @extend .sass-text;
        border: 2px solid white;
        /* kantlinjer */
        
    }


    table {
        @extend .sass-text;

    }

}