//första läget .. ljusa läget .. ändrar sig efter det operativa systemet tema 

@use "ifElse";
@use "sass:color";
@use "darkmode";
@use "media";
@use "menu";


// standard inställning

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

//varibel för lagring av färg .. ljusa läget o mörka läget
$primary-color: #edb8946a;
$color1: #c7833a;
$color: #feb581;
$color3: #939fe6;


$secondary-color: #120b62;
$color2: #f9f9f9;


header {
    background-color: #f2cca4;
}


body {
    background-color: $primary-color;
    font-family: Arial, sans-serif;
}

h1 {
    color: $color1;
    text-align: center;
}

p {
    text-align: center;
    max-width: 600px;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrerar innehållet horisontellt */
}

img {
    width: 450px;
    margin-top: 50px;
    margin-right: 20px;
}

.sass-text {
    margin-bottom: 6%;
    
}


//inheritance från .sass-text
form {
    @extend .sass-text;
    // border-radius: 500px;
    border: 2px solid #000; //ram
    padding: 10%;
}


table {
    @extend .sass-text;
    @extend form;
    padding: 3%;
}

th,
td {
    border: 2px solid #000;
    /* kantlinjer */
    padding: 10px;
    text-align: left;
}

//nesting
nav {

    display: flex;
    justify-content: center;
    padding: 30px;
  

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        width: 70%; 
        
    }

    li {
        display: inline-block;
        flex: 1;
        text-align: center;
    }

    a {
        display: block;
        text-decoration: none;
        padding: 7%;
        width: 85px;
        color: #000;
        font-size: 18px;
    }
}

a:hover {
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* horisontell, vertikal, spridning .. färgen är svart me 50% opacitet */
}

//mixin
@mixin form ($size, $radius: 0) {
    width: $size;
    border-radius: $radius;
    margin: 25px;
    padding: 15px;
    font-size: large;

}

button {
    @include form (100px, $radius: 5px);
    background-color: #feb581;
}

// color function
button:hover {
    background-color: color.adjust($color, $lightness: 7%);
    color: $secondary-color;
}


